<!doctype html>
<html>
  <head>
    <title>J&amp;J foto app</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  	<header>
  		<a href="../home">Home</a>	

  	</header>