<% include ../partials/header %>

<h1>Photos</h1>

<% files.forEach(function (file, index){ %>
	<li> <img class="imageupload" src= "<%= "/uploads/" + file %>"> </li>
	<h1>comments</h1>

	<form method="post" action="<% req.baseUrl %>/<% photo.photoId %>/comment">
	    <label>comments</label>
	    
	    <textarea name="comment" >Enter text here...</textarea>
	    <input type="submit" value="login">
	</form>

<% }) %>

<% include ../partials/footer %>