/*style.css*/
* {
	font-family: helvetica, sans-serif;
}
p {
	font-family: 'Lora', serif;
}

header {
	
}
body {
	
}
footer {

}
header > a {
	position: absolute;
	left: 1em;
	top: 1em;
	z-index: 1;
}
section a:first-of-type {
	position: absolute;
	left: 6em;
	top: 1em;
	z-index: 1;
}
section a:nth-of-type(2) {
	position: absolute;
	left: 11em;
	top: 1em;
	z-index: 1;
}
section a:last-of-type {
	position: absolute;
	left: 16em;
	top: 1em;
	z-index: 1;
}
h1 {
	margin-top: 2em;
}