<% include ../partials/header %>

<h1><%= user %></h1>

<!-- <h2>Users in database</h2>

<pre>
	<%= JSON.stringify(users, null, "  ") %>
</pre> -->

<section>
	<a href="../users"><%= userLog %></a>
	<a href="../upload">Upload</a>
	<a href="../upload/showuploads">Photos</a>
</section>

<% include ../partials/footer %>