<% include ../partials/header %>

<h1>Hallo <%= user %></h1>

<div class="profiel_logout">
	<a href="../users/logout">logout</a>
</div>

<div class="profiel_link">
	<a href="../upload">upload a photo</a>
</div>

<% include ../partials/footer %>