<% include ../partials/header %>

<h1><%= user %></h1>

<h2>Users in database</h2>
<pre>
<%= JSON.stringify(users, null, "  ") %>
</pre>

<% if (userLog=="Login") {%>
	<a href="../users/login"><%= userLog %></a>
	<a href="../users/signup">signup</a>
<% };	if (userLog=="Logout") {%>
	<a href="../users/logout"><%= userLog %></a>

<%}%>
	

<a href="../upload">upload</a>
<a href="../upload/showuploads">Photos</a>

<% include ../partials/footer %>